.gallery-image {
  width: 360px;
  height: 152px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-info {
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin-left: 20px;
  margin-left: 25px;
}

.info-item {
  margin-top: 4px;
  margin-bottom: 4px;
}
.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

/* form */

.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
}

button[type='submit'] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  margin-left: 8px;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 252px;
  height: 36px;
  background-color: #ffffff;
  padding-left: 16px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border: 1px solid #000;
}

input:active,
input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  margin-top: 8px;

  position: absolute;
  left: 49%;
  transform: translateX(-50%);
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* load-more-button */
.btn-load-more {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 125px;
  height: 40px;
  background-color: #4e75ff;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: none;
}
.btn-load-more:hover {
  background-color: #6c8cff;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 44px;
}
